/*
variables
*/
:root {
  --primary-blue: hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);

  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-blue: hsl(218, 22%, 67%);
}

body {
  background-color: var(--neutral-gray);
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

p {
  margin: 10px 0;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 0;
  font-size: 1.3rem;
}

button {
  background-color: var(--primary-yellow);
  color: #fff;
  padding: 18px 0;
  margin: 10px 0;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 50px auto;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.bottom-container {
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding: 30px;
}

.join {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subscribe {
  background-color: var(--primary-blue);
  width: 100%;
  color: #fff;
}

.subscribe span {
  color: white;
  font-size: 2rem;
  vertical-align: middle;
  font-weight: 700;
  padding-right: 10px;
}

.why_us {
  background-color: #66dbd9;
  color: var(--neutral-gray);
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.why_us li {
  list-style: none;
  line-height: 1.5rem;
}

.container h1 {
  color: var(--primary-blue);
  font-size: 1.5rem;
}

.join h2 {
  color: var(--primary-yellow);
}

.join p {
  color: var(--neutral-blue);
  line-height: 1.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
  html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
  }

  .bottom-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .why_us {
    border-radius: 0 0 5px 0;
  }

  .subscribe {
    border-radius: 0 0 0 5px;
  }
}
